<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="DataBaseEntities" connectionString="metadata=res://*/ApplicationData.DataBase.DataBase.csdl|res://*/ApplicationData.DataBase.DataBase.ssdl|res://*/ApplicationData.DataBase.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P31510\SQLEXPRESS;initial catalog=BreadFactoryDataBase;user id=sa;password=sa2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>